{% block body %}
  <h1>Add a new Review</h1>

  {{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.noidung) }}



  <input type="submit" value="Add" />
  {{ form_end(form) }}

{% endblock %}